.notifications {
  position: relative;
}

.notificationBadge {
  position: absolute;
  top: 0px;
  right: 4px;
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  background: red;
  border-radius: 50%;
}
