.btn {
  cursor: pointer;
  background: transparent;
  border: none;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn > *:not(:last-child) {
  margin-right: 5px;
}

.size--lg {
  padding: 1rem 2rem;
  font-size: 2rem;
}

.size--sm {
  padding: 0.2rem 0.5rem;
  font-size: 1.1rem;
}

.primary {
  background: #e26e8a;
  color: #fff;
  font-weight: bold;
}

.secondary {
  color: #a1a1a1;
}

.hover:hover {
  filter: brightness(0.9);
}

.rounded--lg {
  border-radius: 1em;
}

.rounded--sm {
  border-radius: 0.6em;
}
