/*  navigation styles
---------------------- */
.navbar {
  padding: 1em 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

.logo {
  width: 4em;
  margin-right: 2em;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.links > *:not(:last-child) {
  margin-right: 1.5em;
}

.navUserInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
