.h1 {
  font-size: 6rem;
  font-weight: 500;
}

.h2 {
  font-size: 4rem;
  font-weight: 500;
}

.subheading {
  font-size: 1rem;
  font-weight: 500;
}

.paragraph {
  font-style: normal;
  font-weight: bold;
}
.text {
  font-style: italic;
}

.color--primary {
  color: red;
}

.color--secondary {
  color: #ccc;
}
