.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}

.h1 {
  font-size: 6rem;
  font-weight: 500;
}

.h2 {
  font-size: 4rem;
  font-weight: 500;
}

.h3 {
  font-size: 3rem;
  font-weight: 500;
}

.h4 {
  font-size: 2.5rem;
  font-weight: 500;
}

.h5 {
  font-size: 2rem;
  font-weight: 500;
}

.h6 {
  font-size: 1.5rem;
  font-weight: 500;
}

.subheading {
  font-size: 1rem;
  font-weight: 700;
}

.paragraph,
.text {
  font-size: 1rem;
}
.paragraph {
  font-style: normal;
  font-weight: bold;
}
.text {
  font-style: italic;
}

.color--primary {
  color: #646eff;
}

.color--secondary {
  color: #a1a1a1;
}

.color--success {
  color: #3f6327;
}

.color--error {
  color: #692525;
}

.color--black {
  color: black;
}
