.card {
  width: 30rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 1rem;
  overflow: hidden;
}

.card > * {
  width: 100%;
}

.cardDesc {
  padding: 0.5rem 1rem;
  text-align: start;
}

.cardAction {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;
}
.cardAction > *:not(:last-child) {
  margin-right: 1em;
}
.cardAction > *:nth-child(2) {
  margin-right: auto;
}
