.footerLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}
