.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 1rem;
}
.footer > *:first-child {
  margin-right: 2rem;
}
.footer > *:nth-child(2) {
  margin-right: auto;
}

.logo {
  width: 10rem;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
